
/* meyerweb.com reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    max-width: 100%;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

body{
    background-color: lightblue;
    font-size: 1.6em;
    font-weight: bold;
}
.container{
    /* width: 800px; */
    width: 70%;
    margin: 0 auto;
}

/* -----Header */
header{
    background-color: #383838  ;
    padding: 5px;
}

header h1{
    color: white;
    display: flex;
    flex-flow: row wrap;
    font-size: 3em;
    margin: 3px;
}
nav .links a{
    background-color: cadetblue;
    color:white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

}

nav .links a:hover{
    background-color: darkslategray;
}

/* -----top section of page */

.one{
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
}

.one, img, h2, a, p{
    margin: 10px;
}
.one h2{
    font-size: 2em;
}

.topimage, .toptext{
    width: 50%;
    justify-content: space-around;

}
.toptext{
    padding: 50px;
}

.toptext a{
    color:#FFFAF0;
    background-color: #696969;
    border: 1px solid white;
    /* border-radius: 8px; */
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;

}

.toptext a:hover{
    background-color: darkslategray;
}

/* -----bottom section of page */
.two{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.links, .twoimgs{
    margin: 10px;
}

/* ----footer */

footer {
    
    padding:10px;
    color: white;
    background-color: #383838;
    text-align: center;
}
.footertext{
 
    margin: 10px;

}

footer a{
    color:#FFFAF0;
    background-color: #696969;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

footer a:hover{
    background-color: darkslategray;
}

/* ----media queries */

@media (max-width: 800px){
    .container{
        width: 100%;
    }
    header{
        background-color: #383838;
        padding: 5px;
        width: 100%;
        
    }
    /* header h1{
        font-size: 2em;
    } */
    nav, .links a{
        margin: 1px;
    }
    .one{
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 100%;
    }
    .one{

        width: 100%;
    }

    .topimage, .toptext{
        width: 100%;
    }
    .two{
        display: flex;
        flex-flow: row wrap;
        margin: 5px;
        width: 100%;
        justify-content: space-around;
    }

    footer{
        width: 100%;
    }
}

@media (max-width:500px){
    header{
        
        background: none;
        padding: 30px;
        width: 100%;
   
    }
    nav .links a{
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 2em;
        
        /* width: 40%; */
    } 

    .topimage{
        width: 100%;
        
    }


}


