
/* meyerweb.com reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

body{
    background-color: lightblue;
    font-size: medium;
    font-weight: bold;
}
header{
    background-color: slategrey  ;
    padding: 5px;
}

header h1{
    color: white;
    display: flex;
    flex-flow: row wrap;
    font-size: 2em;
    margin: 3px;

}

.container{
    width: 800px;
    margin: 0 auto;
}

.links a{
    background-color: cadetblue;
    color:white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    text-decoration: none;

}

.links, .twoimgs{
    margin: 10px;
}

.one{
    display: flex;
    flex-flow: row wrap;
    /* width: 50%; */
    margin: 30px;
}
.two{
    display: flex;
    flex-flow: row wrap;
}
.topimage, .toptext{
    width: 50%;

}
.toptext{
    padding: 50px;
}

footer {
    padding:10px;
    color: white;
    background-color: lightslategrey;
    text-align: center;
}

footer a{
    color: black;
    font-size: larger;
}





